<div>
    <h2 class="text-2xl font-semibold">{{ 'DASHBOARD.CONFIRMDELETETITLE' | translate }}</h2>
    <p class="text-base mt-4">
        {{ 'DASHBOARD.CONFIRMDELETEDESCRIPTION' | translate }}
    </p>

    <div class="mt-4 text-right">
        <button appearance="whiteblock" tuiButton type="button" size="m" class="mr-2" (click)="cancel()">
            {{ 'COMMON.CANCEL' | translate }}
        </button>
        <button appearance="whiteblock" tuiButton type="button" size="m" class="!bg-[#e36464ed] !text-white"
            (click)="deleteUrl()">
            {{ 'COMMON.DELETE' | translate }}
        </button>
    </div>
</div>