<header class="px-4 py-6 sm:px-6">
    <div class="flex items-center justify-center max-w-screen-xl mx-auto">
        <span class="flex items-center justify-center cursor-pointer" [routerLink]="['/']">
            <img src="assets/img/url.svg" alt="URL icon" width="25px" class="mr-2">
            <a
                class="text-xl font-bold bg-clip-text text-transparent bg-gradient-to-r from-zinc-500 via-stone-600 to-zinc-900">
                Cutlynk
            </a>
        </span>
    </div>
</header>

<div class=" flex h-[80vh] justify-center items-center">
    <button appearance="whiteblock" tuiButton type="button" (click)="loginWithGoogle()">
        <img src="assets/img/google.svg" alt="Google icon" class="google-icon">
        {{ 'COMMON.SINGINGOOGLE' | translate }}
    </button>
</div>