<div>
    <div class="flex items-center justify-between px-4 pb-4">
        <h2 class="text-2xl font-semibold">{{ 'CATEGORY.CATEGORIES' | translate }}</h2>

        <button appearance="whiteblock" tuiButton type="button" size="m" class="mt-2" (click)="openCategoryDetail()">
            <tui-icon icon="@tui.plus" /> {{ 'COMMON.ADD' | translate }}
        </button>
    </div>

    <ul aria-label="Category list" class="space-y-1 max-h-[375px] overflow-y-auto px-1">
        @for (category of categories; track $index) {
        <li role="option" tabindex="0" aria-selected="false"
            class="bg-white rounded-md p-4 transition-all hover:bg-gray-200 cursor-pointer flex justify-between items-center">
            <span>{{category.name}}</span>
            <button appearance="whiteblock" iconStart="@tui.pencil" size="s" tuiIconButton type="button" class="ml-2"
                (click)="openCategoryDetail($event, category)">
                {{ 'COMMON.EDIT' | translate }}
            </button>
        </li>
        }
    </ul>

</div>