.border-button {
    box-shadow: inset 0 0 0 1px var(--tui-border-normal);
    padding: 10px 20px;
    border-radius: 5px;
}

.background-landing {
    background-image: url('/assets/img/bg-landing.webp');
    background-size: cover;
}

.background-landing::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #ffffffa6;
    z-index: 0;
}