<form [formGroup]="urlForm">
    <div>
        <label tuiLabel>
            <span class="label-text">{{ 'DASHBOARD.URL' | translate }}</span>
            <tui-textfield class="w-full no-shadow-input" tuiTextfieldSize="m" [tuiTextfieldCleaner]="false"
                [tuiAutoFocus]="urlData ? false : true">
                <input formControlName="originalUrl" tuiTextfield placeholder="https://" />
            </tui-textfield>
        </label>
    </div>

    <div>
        <label tuiLabel>
            <span class="label-text">{{ 'DASHBOARD.SHORTURL' | translate }}</span>
            <div class="short-link-container">
                <tui-textfield class="w-full no-shadow-input" tuiTextfieldSize="m" [tuiTextfieldCleaner]="false">
                    <input formControlName="shortUrl" tuiTextfield />
                </tui-textfield>
                @if(!urlData) {
                <button appearance="whiteblock" tuiButton type="button" size="m" class="mx-2 !px-5"
                    (click)="base62Encode()" [attr.aria-label]="'DASHBOARD.GENERATERANDOMURL' | translate">
                    <tui-icon icon="@tui.shuffle" class="text-lg mr-2" />
                </button>
                }
            </div>
        </label>
    </div>

    <div>
        <label tuiLabel>
            <span class="label-text">{{ 'CATEGORY.CATEGORY' | translate }}</span>
            <tui-select formControlName="category" tuiTextfieldSize="m" class="no-shadow-input"
                [valueContent]="stringify(categories)" [tuiTextfieldLabelOutside]="true">
                <ng-template tuiDataList>
                    <tui-data-list>
                        <button tuiOption type="button" [value]="-1">
                            {{ 'CATEGORY.UNCATEGORIZED' | translate }}
                        </button>
                        @for(category of categories; track category.$id) {
                        <button tuiOption type="button" [value]="category.$id">
                            {{ category.name }}
                        </button>
                        }
                    </tui-data-list>
                </ng-template>
            </tui-select>
        </label>
    </div>

    <div>
        <label tuiLabel>
            <span class="label-text">{{ 'DASHBOARD.DESCRIPTION' | translate }}</span>
            <tui-textfield class="no-shadow-input" [tuiTextfieldCleaner]="false">
                <textarea tuiTextarea formControlName="description" class="w-full" [limit]="400" [min]="4"></textarea>
            </tui-textfield>
        </label>
    </div>

    <div class="mt-4 ml-auto">
        <button appearance="whiteblock" tuiButton type="button" size="m" class="mr-2" (click)="cancel()">
            {{ 'COMMON.CANCEL' | translate }}
        </button>
        <button appearance="whiteblock" tuiButton type="button" size="m"
            [disabled]="urlForm.invalid || !this.urlForm.dirty || saving" (click)="save()">
            {{ 'COMMON.SAVE' | translate }}
        </button>
    </div>
</form>

<ngx-sonner-toaster />