@import "./assets/css/colors.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #2e2e2ee0;
    border-radius: 8px;
    border: none;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #2e2e2ed1;
}

.no-shadow-input {
    [tuiAppearance][data-appearance=textfield] {
        box-shadow: none;
    }
}