<div>
    <div class="flex mx-16 my-12">
        <form [formGroup]="form" class="flex-grow">
            <tui-input formControlName="originalUrl" class="w-full" tuiTextfieldSize="m"
                [tuiTextfieldLabelOutside]="true">
                <input tuiTextfieldLegacy class="w-full" />
            </tui-input>
        </form>
        <button appearance="whiteblock" tuiButton type="button" size="m" class="mx-5" (click)="createShortenedUrl()">
            Add link
        </button>
    </div>

    <div>
        <div class="container mx-auto px-4">
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 mt-6">
                @for (url of urls; track url.id) {
                <div tuiCardMedium tuiSurface class="url-card shadow-sm">
                    <header>
                        <h2 tuiTitle>
                            <a [href]="url.originalUrl" target="_blank">{{url.shortUrl}}</a>
                            <span tuiSubtitle>{{url.originalUrl}}</span>
                        </h2>
                    </header>
                    <footer>
                        <button appearance="whiteblock" iconStart="@tui.copy" size="s" tuiIconButton type="button"
                            class="mr-1" (click)="copyUrlToClipboard(url)">
                            Copy
                        </button>
                        <button appearance="whiteblock" iconStart="@tui.pencil" size="s" tuiIconButton type="button"
                            class="mr-1" disabled>
                            Edit
                        </button>
                        <button appearance="whiteblock" iconStart="@tui.trash" size="s" tuiIconButton type="button"
                            (click)="deleteUrl(url)">
                            Delete
                        </button>
                    </footer>
                </div>
                } @empty {
                Empty list of urls
                }
            </div>
        </div>
    </div>
</div>