<div>
    <div class="container px-4 grid grid-cols-1 sm:grid-cols-2 mx-auto my-12">
        <tui-input [(ngModel)]="searchUrl" class="no-shadow-input w-full" tuiTextfieldSize="m"
            tuiTextfieldIconLeft="@tui.search" [tuiTextfieldLabelOutside]="true">
            {{ 'DASHBOARD.SEARCHURLS' | translate }}
            <input tuiTextfieldLegacy />
        </tui-input>
        <div class="flex mt-8 sm:justify-end sm:mt-0">
            <button appearance="whiteblock" tuiButton type="button" size="m" class="mr-2" (click)="openCategories()">
                <tui-icon icon="@tui.folders" />
            </button>
            <button appearance="whiteblock" tuiButton type="button" size="m" (click)="openUrlDetail()">
                <tui-icon icon="@tui.plus" /> {{ 'DASHBOARD.ADDURL' | translate }}
            </button>
        </div>
    </div>

    <div>
        <div class="container mx-auto px-4">
            @if (!loading) {
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 mt-6">
                @for (url of (urls | filter: searchUrl); track url.id) {
                <div tuiCardMedium tuiSurface class="url-card shadow-sm transition-all duration-600"
                    [ngClass]="{'animate-fade-out': removingIndex === $index}">
                    <header class="w-full max-w-full">
                        <h2 tuiTitle>
                            <a [href]="url.originalUrl" target="_blank" (click)="incrementClicks(url)"
                                class="truncate py-1 transform transition-transform duration-300 ease-in-out hover:translate-x-1">{{url.shortUrl}}</a>
                            <span tuiSubtitle class="truncate">{{url.originalUrl}}</span>
                        </h2>
                    </header>
                    <footer class="flex items-center w-full">
                        <button appearance="whiteblock" size="s" tuiIconButton type="button" class="mr-1"
                            (click)="copyUrlToClipboard(url, $index)">
                            @if(activeIndex !== $index) {
                            <tui-icon icon="@tui.copy" [style.color]="'var(--tui-text-tertiary)'" />
                            } @else {
                            <tui-icon icon="@tui.check" class="text-[#008a2e99]" />
                            }
                        </button>
                        <button appearance="whiteblock" iconStart="@tui.pencil" size="s" tuiIconButton type="button"
                            class="mr-1" (click)="openUrlDetail(url)">
                            {{ 'COMMON.EDIT' | translate }}
                        </button>
                        <button appearance="whiteblock" iconStart="@tui.trash" size="s" tuiIconButton type="button"
                            (click)="openDeleteUrl(url, $index)">
                            {{ 'COMMON.DELETE' | translate }}
                        </button>
                        <div class="clicks-container">
                            {{url.clicks}} {{ 'DASHBOARD.CLICKS' | translate }}
                        </div>
                    </footer>
                </div>
                } @empty {
                <div
                    class="flex justify-center items-center col-span-full text-xl py-5 text-[var(--tui-text-tertiary)]">
                    <tui-icon icon="@tui.unlink" class="mr-2" /> {{ 'DASHBOARD.NOURLS' | translate }}
                </div>
                }
            </div>
            } @else {
            <tui-loader class="loader" [inheritColor]="true" [overlay]="true" [showLoader]="true"></tui-loader>
            }
        </div>
    </div>
</div>

<ngx-sonner-toaster />